.add-goods__box {
  padding: 20px;
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    padding: 30px;
  }

  @media (min-width: $desktop-width) {

  }
}

.add-goods__wrapper-gift {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}

.add-goods__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
  }
}

.add-goods__item {
  box-sizing: border-box;
  display: block;
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 26px 38px 28px 37px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.add-goods__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    .add-goods__wrapper:nth-child(2) {
      width: 60%;
    }
    align-items: center;
    width: 100%;
  }
}

.add-goods__name {
  grid-area: name;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.add-goods__details {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
    justify-content: space-between;
    padding-right: 38px;
  }
}

.add-goods__button {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
