.additionally {
  padding: 0 20px 21px;

  @media (min-width: $tablet-width) {
    margin-top: -12px;
    padding-bottom: 55px;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 74px;
    padding-left: 111px;
  }
}

.additionally__list {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additionally__item {
  margin-bottom: 41px;
}

.additionally__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 34px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 16px;
  }
}

.additionally__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 282px;
    min-height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    min-height: 52px;
  }

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    background-color: $basic-green-2;
    color: rgba(255, 255, 255, 0.3);
  }
}
