.advantages__wrapper {
  position: relative;
}

.advantages__button {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  background-color: transparent;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.advantages__item {
  display: block;
  box-sizing: border-box;
  min-height: 266px;
  background-color: $basic-grey;
  padding: 30px 33px 19px 19px;
  margin-bottom: 20px;

  &--slim {
    background-image: url("../img/sitting-cat-back.png");
    background-repeat: no-repeat;
  }

  &--pro {
    background-image: url("../img/walking-cat-back.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    min-height: 372px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    flex-basis: calc(50% - 60px);
    max-width: calc(50% - 60px);
  }
}

.advantages__title {
  font-size: 34px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 227px;
  min-height: 90px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}
