.advantages__wrapper {
  position: relative;
}

.advantages__link {
  position: relative;
  display: block;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  // &
}

.advantages__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.advantages__item {
  display: block;
  box-sizing: border-box;
  min-height: 266px;
  background-color: $basic-grey;
  padding: 30px 33px 19px 19px;
  margin-bottom: 20px;

  &--slim {
    background-image: url("../img/sitting-cat-back.png");
    background-repeat: no-repeat;
    background-position: 19px 22px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/sitting-cat-back-tablet.png");
    }
  }

  &--pro {
    background-image: url("../img/walking-cat-back.png");
    background-repeat: no-repeat;
    background-position: 13px 25px;
  }

  @media (min-width: $tablet-width) {
    min-height: 372px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    flex-basis: calc(50% - 60px);
    max-width: calc(50% - 60px);
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 71px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }
}

.advantages__description {
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 227px;
  min-height: 90px;
  text-align: left;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}
