.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 19px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-bottom: 40px;
    width: 324px;
    height: 511px;
    margin: 30px;
    background-image: linear-gradient(#ffffff, #ffffff 15%, #eaeaea 15%, #eaeaea,);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 40px;
  }

  &--last {
    position: relative;
    background-image: none;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      left: calc(50% - 15px);
      top: 45px;
      background-color: #d3d3d3;
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      left: calc(50% - 15px);
      top: 45px;
      background-color: #d3d3d3;
      transform: rotate(90deg);
    }

    @media (min-width: $tablet-width) {
      border: 2px solid $basic-grey;
      height: 429px;
      margin-top: 112px;

      &::before {
        width: 60px;
        height: 2px;
        left: 122px;
        top: 51px;
      }

      &::after {
        width: 60px;
        height: 2px;
        left: 122px;
        top: 51px;
      }
    }

    @media (min-width: $desktop-width) {
      height: 431px;
      margin-top: 114px;

      &::before {
        left: 92px;
      }

      &::after {
        left: 92px;
      }
    }
  }
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  width: 282px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 252px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.card__wrapper img {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.card__desc-wrapper {
  width: 142px;
}

.card__details {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 46px;
  }

  &--last {
    padding-top: 78px;

    @media (min-width: $tablet-width) {
      padding-top: 161px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 160px;
    }
  }
}

.card__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.card__button {
  @media (min-width: $tablet-width) {
    width: 248px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    height: 40px;
  }

  &--last {
    background-color: $basic-grey;
    color: $special-dark-grey;
    border: none;
  }
}
