.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 19px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 42px;
    width: 324px;
    height: 525px;
    margin: 30px;
    margin-bottom: 16px;
    background-image: linear-gradient(#ffffff, #ffffff 92px, #eaeaea 92px, #eaeaea,);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 40px;
  }
}


.card--last {
  position: relative;
  background-image: none;
  min-height: 209px;
  padding-top: 78px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    left: calc(50% - 15px);
    top: 45px;
    background-color: #d3d3d3;
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    left: calc(50% - 15px);
    top: 45px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    border: 2px solid $basic-grey;
    height: 429px;
    margin-top: 123px;
    margin-bottom: 40px;

    &::before {
      width: 60px;
      height: 2px;
      left: 129px;
      top: 82px;
    }

    &::after {
      width: 60px;
      height: 2px;
      left: 129px;
      top: 82px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 431px;
    margin-top: 114px;

    &::before {
      left: 92px;
    }

    &::after {
      left: 92px;
    }
  }
}

.card__link {
  text-decoration: none;
  color: #222222;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  width: 282px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.card__wrapper img {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.card__desc-wrapper {
  width: 142px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.card__details {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 14px;
    border-bottom: 1px solid $special-grey;
  }
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;

  &--last {
    margin: 0 0 9px;
    display: inline-block;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-top: 34px;
    text-align: center;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 46px;
  }
}

.card__description {
  font-family: "Arial", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  &--last {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-bottom: 16px;
  }
}

.card__button {
  @media (min-width: $tablet-width) {
    width: 248px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 40px;
  }

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    background-color: $basic-green-2;
    color: rgba(255, 255, 255, 0.3);
  }

  &--last {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: $basic-grey;
    color: $special-dark-grey;
    border: none;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      background-color: #ebebeb;
      color: rgba(#444444, 0.3);
    }
  }
}
