.catalog__title {
  padding-left: 20px;
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  margin-bottom: 20px;
}
