.contacts {
  position: relative;
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.contacts__map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 400px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  &--light {
    background-color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    padding: 56px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 565px;
    height: 198px;
    padding: 0;
    background-color: #ffffff;
  }
}

.contacts__invite {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 139px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }
}

.contacts__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 140px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 160px;
  }
}
