.field__input {
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  width: 100%;
  height: 45px;
  border: 1px solid #e7e7e7;
  padding-left: 14px;
  margin-left: 12px;

  &--comment {
    min-height: 150px;
    margin-left: 0;

    @media (min-width: $tablet-width) {
      min-height: 174px;
        }

    @media (min-width: $desktop-width) {
      min-height: 174px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
  }

  &:focus {
    border-color: $special-dark-grey;

    &:not(:focus-visible) {
      outline: 0;
    }
  }
}

.field__label {
  display: flex;
  align-items: center;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--comment {
    display: flex;
    flex-direction: column;
    min-height: 150px;

    //@media (min-width: $tablet-width) {
    //  padding-left: 70px;
    //  padding-right: 67px;
    //  min-height: 174px;
    //}

    //@media (min-width: $desktop-width) {
    //  padding-left: 110px;
    //  padding-right: 110px;
    //  min-height: 174px;
    //}
  }

  &--email {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 16px;
      margin-top: auto;
      margin-bottom: auto;
      width: 20px;
      height: 14px;
      background-image: url("../img/icon_email.svg");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }

  &--mob {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 16px;
      margin-top: auto;
      margin-bottom: auto;
      width: 20px;
      height: 20px;
      background-image: url("../img/mob-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }

  .field__label--email::before:focus,
  .field__label--mob::before:focus {
    background-color: $basic-green;
  }

  @media (min-width: $desktop-width) {
    width: 92%;
    max-width: 568px;
  }
}
