.form-custom {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
  }
}

.form-custom__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    margin-bottom: 66px;
  }
}
