.form-custom__header {
  padding-left: 20px;
}

.form-custom__order {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 65px;
  }
}
