.form-custom {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
  }
}

.form-custom__header {
  @media (min-width: $tablet-width) {
    padding-left: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 109px;
  }
}

.form-custom__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 54px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}
