.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;

  width: 100%;
  height: 290px;
  background-image:
    linear-gradient(rgba($basic-green, 0.85),
    rgba($basic-green, 0.85)),
    url("../img/cat-catalog-background-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 186px;
  margin-bottom: 33px;

  &::after {
    content: "";
    background-image: url("../img/icon_gift.svg");
    position: absolute;
    width: 78px;
    height: 80px;
    top: 57px;
    left: 102px;

    @media (min-width: $tablet-width) {
      top: 60px;
      left: 80px;
    }

    @media (min-width: $desktop-width) {
      left: 85px;
    }
  }

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba($basic-green, 0.85),
      rgba($basic-green, 0.85)),
      url("../img/cat-catalog-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    justify-content: center;
    align-items: flex-end;
    padding: 0 124px;
    margin-bottom: 77px;
    height: 200px;
    background-image:
      linear-gradient(rgba($basic-green, 0.85),
      rgba($basic-green, 0.85)),
      url("../img/cat-catalog-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(rgba($basic-green, 0.85),
        rgba($basic-green, 0.85)),
        url("../img/cat-catalog-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image:
      linear-gradient(rgba($basic-green, 0.85),
      rgba($basic-green, 0.85)),
      url("../img/cat-catalog-background-desktop.jpg");
    min-width: 245px;
    width: 245px;
    flex: none;
    justify-content: flex-end;
    padding: 40px 0;
    margin: 0 0 35px 20px;
    height: 288px;
    align-items: center;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(rgba($basic-green, 0.85),
        rgba($basic-green, 0.85)),
        url("../img/cat-catalog-background-desktop@2x.jpg");
    }
  }
}

.gift__promo {
  font-family: "Arial", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 161px;
  min-height: 60px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
