.gift {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 290px;
  background-image:
    linear-gradient(rgba($basic-green, 0.85),
    rgba($basic-green, 0.85)),
    url("../img/cat-catalog-background-mobile.jpg");
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba($basic-green, 0.85),
      rgba($basic-green, 0.85)),
      url("../img/cat-catalog-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(rgba($basic-green, 0.85),
    rgba($basic-green, 0.85)),
      url("../img/cat-catalog-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(rgba($basic-green, 0.85),
        rgba($basic-green, 0.85)),
        url("../img/cat-catalog-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(rgba($basic-green, 0.85),
    rgba($basic-green, 0.85)),
      url("../img/cat-catalog-background-desktop.jpg");
    margin: 35px 0 35px 20px;
    min-width: 245px;
    width: 245px;
    flex: none;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(rgba($basic-green, 0.85),
        rgba($basic-green, 0.85)),
        url("../img/cat-catalog-background-desktop@2x.jpg");
    }
  }
}

.gift__promo {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 161px;
  min-height: 60px;
}
