.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 320px;
    height: 302px;
    background-image:
      linear-gradient(rgba($basic-green, 0.85),
      rgba($basic-green, 0.85)),
      url("../img/cat-index-background-mobile.jpg");
    z-index: -1;
  }
}


.hero__title {
  margin: 0;
  padding-top: 27px;
}

.hero__text {
  &--main-page {
    color: #ffffff;
    line-height: 14px;
  }
  width: 226px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
