.how-it-works__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    counter-reset: program-counter;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 70px;
    justify-items: center;
  }
}

.how-it-works__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: 0;
    top: 15px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--healthy::before {
    background-image: url("../img/leaf.svg");
  }

  &--easy::before {
    background-image: url("../img/boiled-water.svg");
  }

  &--functional::before {
    background-image: url("../img/fork-knife.svg");
  }

  &--fast::before {
    background-image: url("../img/clock.svg");
  }

  @media (min-width: $tablet-width) {
    width: 230px;
    height: 280px;
    counter-increment: program-counter;

    &::before {
      left: 0;
      top: 14px;
    }

    &::after {
      font-family: "Oswald", "Arial", sans-serif;
      width: 120px;
      line-height: 280px;
      content: counter(program-counter);
      position: absolute;
      font-size: 288px;
      color: $basic-grey;
      z-index: -1;
      top: -20px;
      right: -8px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: -2px;
    counter-increment: program-counter;
  }
}


.how-it-works__description {
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
  }
}
