.line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 34px;
    height: 2px;
    width: 100%;
    background-color: $basic-green;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 35px;
    }
  }

  &--add-goods {
    @media (min-width: $tablet-width) {
      &::before {
        top: 50px;
      }
    }
  }

  &--comment {
    &::before {
      top: 29px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }
  }
}

.line__container {
  max-width: 630px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 1240px;
  }
}

.line__title {
  padding: 0 20px;
  background-color: #ffffff;
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  &--owner {
    margin-top: 14px;
    margin-bottom: 36px;
  }

  &--comment {
    margin-top: 14px;
    margin-bottom: 38px;
  }

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    padding: 0 36px;
    margin-left: -36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    margin-left: -32px;
  }
}
