.live-example {
  margin: 0;
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    border-top: 1px solid #e6e6e6;
    background-image: linear-gradient(#ffffff, #ffffff 619px, #eaeaea 619px, #eaeaea);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    padding-top: 20px;
    border: none;
    min-height: 598px;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(#ffffff, #ffffff 155px, #f2f2f2 155px, #f2f2f2);
  }
}

.live-example__title {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 148px;
  }
}

.live-example__text {
  width: auto;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 59px;
    padding-right: 10px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding-bottom: 74px;
  }
}

.live-example__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -9px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.live-example__list {
  display: flex;
  min-width: 280px;
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    max-width: 366px;
    margin: 0;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 57px;
  }
}

.live-example__kg-time {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  height: 55px;
  border: 1px solid $special-grey;
  border-radius: 3px;
  justify-content: center;
  background-color: inherit;

  &--left {
    margin-right: 32px;

    @media (min-width: $tablet-width) {
      margin-right: 42px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 70px;
  }
}

.live-example__details-value {
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.live-example__details-name {
  position: absolute;
  font-family: "Arial", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
  padding-left: 5px;
  padding-right: 7px;
  text-align: center;
  margin: 0;
  bottom: -16px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
    font-size: 14px;
    line-height: 14px;
    bottom: -8px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.live-example__sum {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  display: inline;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 0;
  }

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    text-align: right;
  }
}

.live-example__content {
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.live-example__cat-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
    padding-top: 12px;
  }


  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 100px;
  }
}

.live-example__cat-img {
  display: flex;
  flex-wrap: nowrap;
}

.live-example__fat-cat,
.live-example__thin-cat {
  width: 100%;
  height: auto;
}

.live-example__range-slider {
  margin-left: -22px;
  margin-right: -22px;
  position: relative;
  width: 40px;
}
