.live-example {
  background: #eaeaea;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.live-example__title {
  margin: 0;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-top: 66px;
}

.live-example__text {
  width: auto;
}

.live-example__list {
  margin: 0;
}

.live-example__details-value {
  font-size: 24px;
  line-height: 24px;
}

.live-example__sum {
  width: 188px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  display: inline;
}

.live-example__range-slider {
  margin-left: -22px;
  margin-right: -22px;
  position: relative;
}
