.main-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-header__wrapper {
  height: 65px;
  margin-top: 41px;
  text-align: center;
}

.main-header__logo {
  width: 33px;
  height: 37px;
  margin-right: auto;
}
