.main-navigation {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 66px;
  background-color: #ffffff;
  z-index: 10;

  &--closed {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    background-color: unset;
  }
}

//.main-navigation--opened .main-navigation__list {

//}

.main-navigation--nojs .main-header__toggle {
  display: none;
}

.main-navigation--nojs .main-navigation__list {
  position: static;
  min-height: 0;
}

.main-navigation--nojs .main-navigation__item {
  display: block;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    //flex-wrap: wrap;
    //justify-content: space-around;
    //width: 450px;
  }

  @media (min-width: $desktop-width) {
    //justify-content: space-evenly;
    //width: 490px;
  }
}

.main-navigation__item {
  @media (min-width: $tablet-width) {
    margin-left: 35px;
  }
}


.main-navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  min-height: 66px;
  border-bottom: 1px solid $special-grey;
  text-decoration: none;
  color: #000000;
  font-style: normal;
  text-transform: uppercase;

  &--current {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;

      @media (min-width: $tablet-width) {
        background: $basic-green;
      }
    }
  }

  @media (min-width: $tablet-width) {
    color: #000000;
    border: none;
    font-size: 18px;
    line-height: 24px;
    min-height: 49px;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.3;
    }
  }
}

.main-navigation__link--light {
  @media (min-width: $desktop-width) {
    color: #ffffff;

    &.main-navigation__link--current::after {
      background-color: #ffffff;
    }
  }
}
