.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $basic-grey;
  padding: 39px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.main-footer__cat-logo > img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__social {
  margin-top: 32px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__logo {
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 163px;
  }
}

.main-footer__logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__logo-text {
  &:active {
    opacity: 0.3;
  }
}

.main-footer__logo-pic {
  fill: #666666;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    fill: $basic-green;
    opacity: 0.3;
  }
}
