.main-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 65px;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    width: 100%;
  }
}

.main-header__logo img {
  width: 33px;
  height: 37px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-text {
  width: 101px;
  height: 18px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.main-header__toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 44px;
  height: 36px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &::before {
    position: absolute;
    top: 10px;
    right: 10px;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::after {
    position: absolute;
    top: 26px;
    right: 10px;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &--active,
  &:active {
    &::before {
      top: 18px;
      transform: rotate(45deg);
    }

    .main-header__toggle-center {
      display: none;
    }

    &::after {
      top: 18px;
      transform: rotate(-45deg);
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle:active + .main-navigation {
  display: block;
}

.main-header__toggle-center {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 24px;
  height: 2px;
  background-color: #000000;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
