
.main-navigation {
  position: relative;
  width: 100%;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .main-navigation__item {
    display: none;

    &--active {
      display: block;
    }
  }
}

.main-navigation--closed .main-header__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;

  &:active {
    color: opacify(#000000, 0.3);
  }
}

//.main-navigation--opened .main-header__toggle {
//  &::before,
//  &::after {
//    content: "";
//    position: absolute;
//    top: 24px;
//    left: 18px;
//    width: 25px;
//    height: 2px;
//    background-color: #111111;
//  }

//  &::before {
//    transform: rotate(45deg);
//    box-shadow: none;
//  }

//  &::after {
//    transform: rotate(-45deg);
//  }

//  &:active::before,
//  &:active::after {
//    background-color: transparentize(#000000, 0.3);
//  }
//}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-evenly;
    width: 478px;
  }
}

.main-navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  min-height: 66px;
  border-top: 1px solid $special-grey;
  text-decoration: none;
  color: #000000;
  font-style: normal;
  text-transform: uppercase;
}
