.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $basic-grey;
  padding: 39px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.main-footer__logo {
  box-sizing: border-box;
  width: 281px;
  padding-top: 22px;
  border-top: 1px solid #d9d9d9;
}

.main-footer__logo-link {
  display: flex;
  justify-content: space-between;
}
// почему картинка не оттолкнулась от букв? Пришлось выше задаать флекс, а хотела просто марджином обойтись
.main-footer__logo-pic {
  margin-left: auto;
  fill: #666666;
}
