.order-form__group {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  border: none;
  width: 100%;
}

.order-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.order-form__cat {
  width: 100%;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.order-form__owner {
  width: 100%;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.order-form__title {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 35px;
  padding-left: 20px;
}

.order-form__radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    height: 200px;
  }
  padding: 0;
  margin-top: 49px;
  margin-bottom: 45px;
}

.order-form__checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 231px;
  padding: 0;
}

.order-form__submit {
  border: none;
  margin-top: 34px;
  margin-bottom: 21px;
}

// почему текст не центруется?
.order-form__note {
  text-align: center;
}
