.page__body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #454545;
  background: #ffffff;
}
