.page__body {
  width: 320px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: hsla(0, 0%, 27%, 1);
  background: #ffffff;
}
