.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social__item {
  position: relative;
  width: 28px;
  height: 22px;
  padding-top: 22px;
  border-top: 1px solid #d9d9d9;
}

.social__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #666666;
}
