.social {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 21px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: auto;
    border: none;
    padding: 0;
  }
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  @media (min-width: $tablet-width) {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.social__link > svg {
  margin-left: 12px;
  margin-right: 12px;
  fill: #666666;
}
