$basic-green: #68b738;
$basic-grey: #f2f2f2;
$special-grey-2: #ebebeb;
$special-grey:  #cdcdcd;
$special-grey-2: #666666;
$special-dark-grey: #444444;
$status-error: #ff8282;
$basic-green-2: #5eaa2f;
