@font-face {
  font-family: "Oswald", "Verdana", sans-serif;
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: "Oswald medium", "Verdana", sans-serif;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

.main-heading {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.heading {
  font-size: 36px;
  line-height: 40px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  min-height: 40px;
  background-color: $basic-green;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border: none;
}

.section {
  display: block;
  padding-left: 20px;
  padding-right: 20px;


  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tab-br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.mob-br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
