//Colors

$basic-green: #68b738;
$basic-grey: #f2f2f2;
$basic-green-2: #5eaa2f;
$special-grey:  #cdcdcd;
$special-grey-2: #666666;
$special-dark-grey: #444444;


// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$tablet-width-only: 1199px;
